server:
  port: 8085

spring:
  application:
    name: "Auth Service"
  datasource:
    url: jdbc:mysql://localhost:3306/authdb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/changelog-master.xml

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /api/auth/swagger-ui.html